<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Masters in Computer Science</h1>
            <span>The Ohio State University</span>
            <span><address>Columbus, Ohio</address><time>August 2016 to May 2018</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Bachelor of Engineering in Information Technology</h1>
            <span>University of Pune</span>
            <span><address>Pune, India</address><time>2010 to 2014</time></span>
        </header>
        <p>
            <em>Final year project: SSD backed implementation of malloc using mmap</em>
        </p>
    </article>
</section>
