<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Research Assistant</h1>
            <span><address>PRESTO Research Lab, Ohio State University</address><time>December 2016 to Present</time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Back-end Java Developer</h1>
            <span><address>Barclays Technology Center India, Pune</address><time>August 2014 to July 2016</time></span>
        </header>
        <p>
		<ol>
			<li>Designed intraday UI testing framework using JMX API (mainly MXBeans) for end-to-end testing.</li>
			<li>Designed testing tools for overnight risk reporting framework using Perl as well as Python.</li>
			<li>Worked GammaNX risk approximation multi-threaded algorithm which reduced the latency from 2s to 150ms.</li>
			<li>Worked on reducing memory footprint of overnight risk reporting framework.</li>
			<li>Developed framework for Valkyrie regulatory reporting. (Saved more than 1 million in licensing cost and made Barclays regulations compliant)</li>
			<li>Developed framework to analyze the generated risk status and publish report based on that. This saved more than 1 hour daily for product support team.</li>
		</ol>
	</p>
    </article>
    <article>
        <header>
            <h1>Summer Software Developer Intern</h1>
            <span><address>Barclays Technology Center India, Pune</address><time>June 2013 to August 2013</time></span>
        </header>
        <p>
		<ol>	
			<li>Supported overnight transaction processing ETL jobs running on COBOL and JCL.</li>
			<li>Designed workflows in Informatica and Abinitio.</li>
			<li>Worked on Teradata queries.</li>
			<li>Delivered effective software solutions to automate existing manual workflows.</li>
			<li>Worked on oracle database as second part of the internship on stored procedures used for reporting purposes.</li>
		</ol>
	</p>
    </article>
</section>
