<section class="thirteen columns">
    <h1>Volunteering Initiatives</h1>
    <article>
        <header>
            <h1>Society for Nutrition, Education & Health Action (SNEHA)</h1>
            <span>Non-profit organization<address> Mumbai India</address><time>August 2014 to December 2014</time></span>
        </header>
        <p>
          	<ol>
			<li>Helped spreading awareness about the issues like domestic violence, women health issues, sexual abuse, and child nutrition.</li>
			<li>Helped managing volunteers and planning various events across multiple locations in Mumbai.</li>
			<li>Constructed digital photo flip-book for SNEHA website to attract potential donors.</li>
		</ol>
        </p>
    </article>
</section>
