<p>
    <section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
            <h1>Software engineering & web development</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Java</em> &amp; <em>Groovy</em>
	</p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>C</em> &amp; <em>C++</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>HTML/CSS3</em>, <em>Python</em>, <em>Perl</em>, <em>PHP</em> &amp; <em>Javascript</em>
        </p>
    </article>

    <article>
        <header>
            <h1>Framewoks and Tools</h1>
        </header>

        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>JUnit</em>, <em>Spring DI</em>, <em>Google Guice</em>, <em>Hibernate</em>, <em>Git</em>, <em>Perforce</em>, <em>JIRA</em> &amp; <em> Maven </em>
	</p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Espresso</em>, <em>Robotium</em>, <em>Spock</em>, <em>Mockito</em>, <em>SVN</em> &amp; <em>Gradle<em>
        </p>
	
	<p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Informatica</em> &amp; <em>AbInitio<em>
        </p>

	
    </article>

</section>
